amqp @ file:///home/conda/feedstock_root/build_artifacts/amqp_1733906301603/work
APScheduler @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_apscheduler_1732499160/work
asgiref @ file:///home/conda/feedstock_root/build_artifacts/asgiref_1751974613617/work
async-timeout @ file:///home/conda/feedstock_root/build_artifacts/async-timeout_1733235340728/work
billiard @ file:///home/conda/feedstock_root/build_artifacts/billiard_1726941169531/work
biopython @ file:///home/conda/feedstock_root/build_artifacts/biopython_1614601910603/work
boto3 @ file:///home/conda/feedstock_root/build_artifacts/boto3_1751650369727/work
botocore @ file:///home/conda/feedstock_root/build_artifacts/botocore_1751646600643/work
Brotli @ file:///home/conda/feedstock_root/build_artifacts/brotli-split_1749229842835/work
celery @ file:///home/conda/feedstock_root/build_artifacts/celery_1734708894737/work
click @ file:///home/conda/feedstock_root/build_artifacts/click_1734858813237/work
click-didyoumean @ file:///home/conda/feedstock_root/build_artifacts/click-didyoumean_1734293070305/work
click-plugins @ file:///home/conda/feedstock_root/build_artifacts/click-plugins_1750848229740/work
click-repl @ file:///home/conda/feedstock_root/build_artifacts/click-repl_1694959444233/work
Django @ file:///home/conda/feedstock_root/build_artifacts/django_1708949436957/work
django-cors-headers @ file:///home/conda/feedstock_root/build_artifacts/django-cors-headers_1699990178824/work
django-redis @ file:///home/conda/feedstock_root/build_artifacts/django-redis_1735481689644/work
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_importlib-metadata_1747934053/work
jmespath @ file:///home/conda/feedstock_root/build_artifacts/jmespath_1733229141657/work
kombu @ file:///home/conda/feedstock_root/build_artifacts/kombu_1748865226042/work
numpy @ file:///home/conda/feedstock_root/build_artifacts/numpy_1707225342954/work/dist/numpy-1.26.4-cp39-cp39-linux_x86_64.whl#sha256=c799942b5898f6e6c60264d1663a6469a475290e758c654aeeb78e2596463abd
packaging @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_packaging_1745345660/work
pandas @ file:///home/conda/feedstock_root/build_artifacts/pandas_1749099616557/work
prompt_toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1744724089886/work
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1733217236728/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-dateutil_1751104122/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1742920838005/work
redis @ file:///home/conda/feedstock_root/build_artifacts/redis-py_1748446509661/work
s3transfer @ file:///home/conda/feedstock_root/build_artifacts/s3transfer_1747960786701/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1733380938961/work
sqlparse @ file:///home/conda/feedstock_root/build_artifacts/sqlparse_1734007102193/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_typing_extensions_1751643513/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1742745135198/work
tzlocal @ file:///home/conda/feedstock_root/build_artifacts/tzlocal_1739472000838/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1718728347128/work
vine @ file:///home/conda/feedstock_root/build_artifacts/vine_1733906372582/work
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1733231326287/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1749421620841/work
